@import "variables";


@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin circle-border {
    border-radius: 50%;
}

@mixin grey-background {
    background-color: $grey;
}

@mixin blush-background {
    background-color: $blush; 
}

@mixin input-hover {
    &:focus{
        background-color: whitesmoke;
        outline: none;
        border: 2px solid $crimson;  
    }
    
}





