
//? Color Palette

$maroon: #5d001e;
$grey: #E3E2DF;
$blush: #E3AFBC;
$crimson: #9A1750;
$pink: #EE4C7C;

$black: black;




//? Fonts

@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300&display=swap');

$dot-text: 'Raleway Dots', sans-serif;
$main-text: 'Montserrat', sans-serif;






