@import "variables";
@import "mixins";
@import "styling";

.thumbnail-container {
  @include flex-column;
  margin: 100px 0 350px 0;
  justify-content: center;
  align-items: center;
}

.image-link {
  width: 300px;
  height: 200px;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 5px $grey;
  margin: 30px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

#link-1 {
  background-image: url(../images/bootstrap-thumbnail-3.png);
}

#link-2 {
  background-image: url(../images/yayoi-kusama-thumbnail.png);
}

#link-3 {
  background-image: url(../images/my-lola-thumbnail.png);
  background-position: left;
}

#link-4 {
  background-image: url(../images/laksa-thumbnail.png);
  background-position: bottom;
}

.project-cards {
  background-color: white;
  padding-bottom: 50px;
  border-radius: 0.5rem;
  margin-bottom: 50px;
  box-shadow: 0 0 15px 1px $grey;

  @include flex-column;
  justify-content: center;
  align-items: center;

  p {
    text-align: center;
    width: 160px;
    padding-top: 10px;
    font-size: 1.1em;
  }
}

.card-link {
  margin-top: 5px;
  font-size: 14px;
  color: $crimson;

  &:hover {
    text-decoration: none;
    color: $maroon;
    font-weight: bolder;
  }
}

@media (min-width: 768px) {
  .project-cards {
    width: 400px;
    height: 500px;
  }
}

@media (min-width: 992px) {
  .thumbnail-container {
    @include flex-row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
  }

  .project-cards:hover {
    box-shadow: 0 0 15px 1px $blush;
  }
}

@media (min-width: 1280px) {
  .project-cards:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in;
    background-color: $blush;

    .image-link {
      box-shadow: 0 0 10px 5px $blush;
    }
  }
}
