@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

:root {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

#horizontal-line-bottom {
  margin: 0 40px 80px 40px;
}

header {
  padding: 2em;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: white;
  width: 100%;
}

#nav-heading {
  font-family: "Raleway Dots", sans-serif;
  color: #9A1750;
  font-weight: bolder;
  letter-spacing: 5px;
  font-size: 2em;
}

.footer {
  background-color: #E3E2DF;
  padding: 3em 6em 3em 3em;
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
}
.footer span {
  color: #5d001e;
  font-size: 1.2em;
}
.footer #icon-links {
  justify-self: center;
}
.footer .fab,
.footer .fas {
  color: #5d001e;
  text-decoration: none;
  padding-right: 12px;
}
.footer .fab:hover {
  text-decoration: none;
  transform: scale(1.6);
  color: #9A1750;
}
.footer .fas:hover {
  text-decoration: none;
  transform: scale(1.6);
  color: #9A1750;
}

@media (max-width: 767px) {
  #nav-desktop {
    display: none;
  }
}
@media (min-width: 768px) {
  #nav-mobile {
    display: none;
  }

  #nav-desktop {
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
  }

  ul {
    list-style: none;
    display: flex;
  }
  ul li a {
    padding-right: 40px;
    font-size: 1.4em;
    letter-spacing: 2px;
    color: #9A1750;
  }
  ul li a:hover {
    text-decoration: none;
    font-weight: bolder;
    color: #EE4C7C;
  }
}
.thumbnail-container {
  display: flex;
  flex-direction: column;
  margin: 100px 0 350px 0;
  justify-content: center;
  align-items: center;
}

.image-link {
  width: 300px;
  height: 200px;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 5px #E3E2DF;
  margin: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#link-1 {
  background-image: url(../images/bootstrap-thumbnail-3.png);
}

#link-2 {
  background-image: url(../images/yayoi-kusama-thumbnail.png);
}

#link-3 {
  background-image: url(../images/my-lola-thumbnail.png);
  background-position: left;
}

#link-4 {
  background-image: url(../images/laksa-thumbnail.png);
  background-position: bottom;
}

.project-cards {
  background-color: white;
  padding-bottom: 50px;
  border-radius: 0.5rem;
  margin-bottom: 50px;
  box-shadow: 0 0 15px 1px #E3E2DF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-cards p {
  text-align: center;
  width: 160px;
  padding-top: 10px;
  font-size: 1.1em;
}

.card-link {
  margin-top: 5px;
  font-size: 14px;
  color: #9A1750;
}
.card-link:hover {
  text-decoration: none;
  color: #5d001e;
  font-weight: bolder;
}

@media (min-width: 768px) {
  .project-cards {
    width: 400px;
    height: 500px;
  }
}
@media (min-width: 992px) {
  .thumbnail-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
  }

  .project-cards:hover {
    box-shadow: 0 0 15px 1px #E3AFBC;
  }
}
@media (min-width: 1280px) {
  .project-cards:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in;
    background-color: #E3AFBC;
  }
  .project-cards:hover .image-link {
    box-shadow: 0 0 10px 5px #E3AFBC;
  }
}

/*# sourceMappingURL=projects.css.map */
